<!DOCTYPE html>
<html>
    <head>
        <script>
            function confirmar(){
                var respuesta = confirm("Seguro que quieres borrar esta canción?");
                if (respuesta == true){
                    return true
                }
                else {
                    return false
                }
            }
        </script>
        <title>Detalle</title>
        <link rel='stylesheet' href='../stylesheets/style.css' />
    </head>
      <%- include('./partials/header', {title: 'Detalle'}) %>
      <body>
        <main>
        <div>
     <h1><%= canciones.titulo %></h1>
    <ul>
        <li>
            Titulo de la cancion: <%= canciones.titulo %>
        </li>
        <li>
            Duracion de la cancion: <%= canciones.duracion %> segundos
        </li>
        <li>
            Genero: <%= canciones.generos.name %>
        </li>
        <li>
            Artista: <%= canciones.artistas.apellido %>, <%= canciones.artistas.nombre %>
        </li>
        <li>
            Album: <%= canciones.albumes.nombre %>
        </li>
        <li>            
            Creada: <%= canciones.created_at %>
        </li>
        <li>
            Lanzada: <%= canciones.updated_at %>
        </li>
    </ul>
</div>
<div style="padding: 10px;">
<a href="/canciones/editar/<%= canciones.id %>">
    <button style="background-color: rgba(102, 254, 102, 0.929);">
        Editar
    </button>
</a>
</div>
<form action="/canciones/borrar/<%= canciones.id %>" method="POST">
    <div style="padding: 10px;">
        <button type="submit" style="background-color: rgb(243, 78, 78);" onclick="return confirmar()">
        Borrar
    </button>
</div>
</form>
<div class="botones detalle" style="display: flex; flex-direction: row; justify-content:space-evenly; padding: 10px;">
    <div>
        <button class="boton-atras" type="button" onclick="location.href='/canciones/listar'">Atrás</button>
      </div>
<div>
    <button type="button" onclick="location.href='/'">Inicio</button>
</div>
</div>
</main>
<%- include('./partials/footer') %>
  </body>
</html>
