<!DOCTYPE html>
<html>
    <head>
        <title>Detalle</title>
        <link rel='stylesheet' href='../stylesheets/style.css' />
    </head>
      <%- include('./partials/header', {title: 'Detalle'}) %>
      <body>
        <main>
        <div>
     <h1><%= canciones.titulo %></h1>
    <ul>
        <li>
            Titulo de la cancion: <%= canciones.titulo %>
        </li>
        <li>
            Duracion de la cancion: <%= canciones.duracion %> segundos
        </li>
        <li>
            Genero: <%= canciones.generos.name %>
        </li>
        <li>
            Artista: <%= canciones.artistas.apellido %>, <%= canciones.artistas.nombre %>
        </li>
        <li>
            Album: <%= canciones.albumes.nombre %>
        </li>
        <li>            
            Creada: <%= canciones.created_at %>
        </li>
        <li>
            Lanzada: <%= canciones.updated_at %>
        </li>
    </ul>
</div>
<a href="/canciones/editar/<%= canciones.id %>">
    <button>
        Editar
    </button>
</a>
<form action="/canciones/borrar/<%= canciones.id %>" method="POST">
    <button type="submit">
        Borrar
    </button>
</form>
<div>
    <button type="button" onclick="location.href='/'">Inicio</button>
</div>
</main>
<%- include('./partials/footer') %>
  </body>
</html>
