<!DOCTYPE html>
<html>
  <head>
    <title>Editar canciones</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />  
  </head>
  <%- include('./partials/header', {title: 'Editar'}) %>
  <body>
    <main>
    <h1><%= canciones.titulo %></h1>
    <div>
      <form action="/canciones/editar/<%= canciones.id%>?_method=PUT" method="POST">
        <div>
          <label for="">Titulo</label>
          <input type="text" name="titulo" value="<%= canciones.titulo%>">
        </div>
        <div>
          <label for="">Duracion</label>
          <input type="text" name="duracion" value="<%= canciones.duracion%>">
        </div>
        <div>
          <label for="">Genero: <%= canciones.generos.name%> </label>
        </div>
        <div>
          <label for="">Nuevo genero: </label>
          <input type="text" name="genero" required>
        </div>
        <div>
          <label for="">Artista: <%= canciones.artistas.apellido%>, <%= canciones.artistas.nombre%> (<%= canciones.artistas.id%>)</label>
        </div>
        <div>
          <label for="">Nuevo artista</label>
          <input type="text" name="artista" required>
          <% for (let i=0; i < artistas.length; i++) { %>
            (<%= canciones.artistas.id %>) 
            <%= canciones.artistas.apellido %><%= canciones.artistas.nombre %>

          <%   } %>
        </div>
        <div>
          <label for="">Album</label>
          <input type="text" name="album" value="<%= canciones.albumes.nombre%>">
          <% for (let i=0; i < albumes.length; i++) { %>
              (<%= canciones.albumes.id %>) 
              <%= canciones.albumes.nombre %>
            <%   } %>
        </div>
        <div>
          <button type="submit">Editar</button>
        </div>
      </form>
        <div>
          <button type="button" onclick="location.href='/'">Inicio</button>
        </div>
    </div>
  </main>
  <%- include('./partials/footer') %>  
</body>
</html>