<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header', {title: 'Listado'}) %>
    <main>
      <div class="div-listado">
        <ul class="ul-listado">
          <% for (let i=0; i < canciones.length; i++) { %>
            <a href="/canciones/detalle/<%= canciones[i].id %>">
              <li> 
                <p>ID: <%= canciones[i].id %> 
                  <p>Título: <%= canciones[i].titulo %></p> 
                  <p>Duración (segundos): <%= canciones[i].duracion %></p> 
                  <p>Género: <%= canciones[i].generos.name %></p>
                </p>
              </li>
            </a>
            <%   } %>
          </ul>
        </div>
        <div>
          <button type="button" onclick="location.href='/canciones/crear'">Crear canción</button>
        </div>
    <div>
      <button type="button" onclick="location.href='/'">Inicio</button>
    </div>
  </main>
    <%- include('./partials/footer') %>
  </body>
</html>