<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header', {title: 'Listado'}) %>
    <main>
      <div>
        <ul>
          <% for (let i=0; i < canciones.length; i++) { %>
            <a href="/canciones/detalle/<%= canciones[i].id %>">
              <li> 
                <h2><%= canciones[i].id %> | <%= canciones[i].titulo %> | <%= canciones[i].duracion %> | <%= canciones[i].generos.name %></h2>
              </li>
            </a>
            <%   } %>
          </ul>
        </div>
        <div>
          <button type="button" onclick="location.href='/canciones/crear'">Crear canción</button>
        </div>
    <div>
      <button type="button" onclick="location.href='/'">Inicio</button>
    </div>
  </main>
    <%- include('./partials/footer') %>
  </body>
</html>